.dropdown-service {
	width: 100%;
	transition: transform .5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	transform: rotate3d(1, 0, 0, 90deg);
	transform-origin: top center;

	p {
		padding: 28px;
		text-align: center;
	}
}

.open-dropdown-service {
	transform: rotate3d(0, 0, 0, 90deg);
}