@import '../../styles/colors';
@import '../../styles/mixins';

.book-button-container {
  @include size(60px, 60px);
  @include flexAlignment(column, center, center);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 3;
  a, button {
    @include size(100%, 100%);
    @include flexAlignment(column, center, center);
    gap: 0.1rem;
    background-color: $--primary-dark-green;
    border: none;
    border-radius: 100%;
    color: $--primary-light-text;
    border: 1px solid $--primary-light-text;
    font-size: 0.5rem;
    &:hover {
      cursor: pointer;
    }
    img {
      @include size(26px,26px);
      filter: brightness(0) invert(1);
    }
  }
}