@import '../../styles/colors';
@import '../../styles/mixins';

.nav-bar-container{
  @include flexAlignment(row, flex-start, center);
  gap: 28px;
  ul {
    @include flexAlignment(column, flex-start, flex-start);
    gap: 2rem;
    list-style: none;
    li {
      line-height: 0.8;
      display: inline-block;
      color: $--secondary-light-text;
      animation: fadeInText 7s ease-in-out;  
    }
    .booking {
      font-weight: 800;
      color:$--primary-light-green
    }  
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}