@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.dropdown {
	background-color: $--primary-bg-black-translucent;
	max-height: 0;
	overflow: hidden;
	padding: 0 28px;
	transition:
		max-height .5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
		padding .5s cubic-bezier(0.68, -0.6, 0.32, 1.6)
	;
	transform-origin: top center;
	width: 100%;
	z-index: 3;

	div, img {
		cursor: pointer;
	}

	img:hover {
		color: #75B5A0;
	}

	nav {
		color: white;
		font-weight: 700;
		line-height: 36px;
		padding-bottom: 28px;

		:hover {
			color: #75B5A0;
		}

		div:nth-last-child(1) {
			color: #75B5A0;
			text-transform: uppercase;
			font-family: 'Jura';
			font-weight: 400;
			font-size: 20px;
		}

		div:nth-last-child(1):hover {
			font-size: 22px;
		}
	}
}

.open {
	padding: 28px;
	max-height: 410px;
}
