@import '../../styles/colors';
@import '../../styles/mixins';

.info-card-container {
  background-color: $--primary-light-green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media (min-width: 950px) {
    grid-column: 2;
    grid-row: 2/span 2;
  }

  .info-card-title {
    border-bottom: 1.5px solid white;
    padding: 28px;

    h2 {
      color: $--primary-light-text;
      font-size: 1.6rem;
      text-align: start;
    }
  }

  p {
    color: $--secondary-light-text;
    padding: 28px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 28px;
  }
}
