@import '../../styles/colors';
@import '../../styles/mixins';

.catch-phrase-container {
  @include size(70%, 100%);

  p {
    animation: fadeInText 3.5s ease-in-out;
    color: $--secondary-light-text;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    width: 18rem;

    .highlighted-word {
      color: $--primary-light-green;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  @media (min-width: 950px) {
    p {
      width: 500px;
    }

    p, p > .highlighted-word {
      font-size: 2.5rem;
    }
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
