@import '../../styles/colors';
@import '../../styles/mixins';

.catch-phrase-container {
  @include size(70%, 100%);
  p {
    color: $--secondary-light-text;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 800;
    width: 18rem;
    animation: fadeInText 3.5s ease-in-out;
    .highlighted-word {
      color: $--primary-light-green;
      font-size: 1.5rem;
      display: inline-block;
      font-weight: 800;
    }
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
