@import '../../styles/colors';

.our-works-carousel {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;

	@media (min-width: 950px) {
		grid-column: 2;
		grid-row: 4 / 7;
	}

	.carousel-images-footer {
		height: 80px;
		background-color: $--primary-light-green;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		p {
			color: $--primary-light-text;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}