$--primary-bg-color: rgba(255, 255, 255, 1);
$--primary-ligh-green: rgba(117, 181, 160, 1);
$--primary-dark-green: rgba(58, 133, 129, 1);
$--primary-light-text: rgba(255, 255, 255, 1);
$--secondary-ligth-text: rgba(240, 240, 240, 1);
$--primary-dark-text: rgba(51, 51, 51, 1);