@import '../../styles/colors';
@import '../../styles/mixins';

.speciality-container {
  @include size(100vw, fit-content);
  @include flexAlignment(column);
  padding: 4rem 0 4rem 0;
  display: flex;
  gap: 2rem;
  img {
    width: 100%;
  } 
}