@import '../../styles/colors';
@import '../../styles/mixins';

.speciality-container {
  @include size(100%, fit-content);
  @include flexAlignment(column);
  padding-bottom: 28px;
  display: flex;
  gap: 2rem;
  img {
    width: 100%;
  } 
}