main {
	max-width: 2400px;
	margin-bottom: 28px;
  display: flex;
  flex-flow: column;
  gap: 28px;
	
	@media (min-width: 950px) {
    display: grid;
    gap: 28px;
		padding: 0 28px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 50px 250px repeat(3, 200px);
	}
}