main {
	display: grid;
	gap: 28px;
	justify-items: center;
	max-width: 1400px;
	margin: auto;
	margin-bottom: 28px;
	
	@media (min-width: 950px) {
		padding: 0 28px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 50px repeat(5, min-content);
	}
}