@import '../../styles/colors';
@import '../../styles/mixins';

.social-media-icons-container {
  @include flexAlignment(row, flex-start, flex-start);
  z-index: 2;
  gap: 1rem;
  img {
    width: 30px;
    height: 30px;
  }
}