@import '../../styles/colors';
@import '../../styles/mixins';

.social-media-icons-container {
  @include flexAlignment(row, space-between, center);
  gap: 1rem;
  img {
    width: 30px;
    height: 30px;
  }
}