@import '@styles/colors';

.footer-contacts {
	align-items: center;
	background-color: $--primary-light-green;
	color: $--primary-light-text;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 28px;

	p:nth-child(1) {
		font-size: 1rem;
		font-weight: 700;
	}

	div:nth-child(2) {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: .875rem;
		font-weight: 700;
	}

  .svg-arrow-dropdown-icon {
    &:hover {
      cursor: pointer;
      animation: scaler 0.3s ease-in-out; 
    }     
  }
}

@keyframes scaler {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
  }
  85% {
    transform: scale3d(1, 1, 1);
  }
}