@import '../../styles/colors';

.container-service-mobile {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-bottom: 28px;
}

.services-desktop {
	display: flex;

	.services-desktop-left {
		width: 50%;

		div {
			margin-bottom: 1px;
		}

		.service-selected {
			background-color: $--primary-dark-green;
		}
	}

	.services-desktop-right {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 50%;

		p {
			text-align: center;
			
			span {
				font-size: 2rem;
				color: $--primary-light-green;
				font-weight: 700;
			}
		}
	}
}