.dropdown-service {
	max-height: 0;
	transition: max-height .5s linear;
	transform-origin: top center;
	overflow: hidden;
	width: 100%;

	p {
		padding: 28px 28px 0;
		text-align: center;
	}
}

.open-dropdown-service {
	max-height: 410px;
}