.dropdown-service {
	max-height: 0;
	transition: transform .5s linear, max-height .5s linear;
	transform-origin: top center;
	width: 100%;
	transform: rotateX(90deg);

	p {
		padding: 28px 28px 0;
		text-align: center;
	}
}

.open-dropdown-service {
	max-height: 410px;
	transform: rotateX(0);
}