@import '../../styles/colors';

.carousel {
	max-width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;

	@media (min-width: 950px) {
		grid-column: 2;
		grid-row: 4 / 7;
	}
}

.carousel-container {
	position: relative;
	margin: auto;

	.carousel-arrow-left,
	.carousel-arrow-right {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;
		font-size: 40px;
		width: 40px;
		color: white;
		cursor: pointer;
		border: none;
		background: linear-gradient(to left, transparent 0%, black 200%);
		opacity: 0.2;
		transition: opacity 300ms ease-in-out;
		z-index: 1;

		&:hover {
			opacity: 1;
		}
	}

	.carousel-arrow-right {
		background: linear-gradient(to right, transparent 0%, black 200%);
		right: 0;
		left: auto;
	}
}
