@import '../../styles/colors';

.carousel {
	width: 100%;
	position: relative;

	.carousel-arrow-left,
	.carousel-arrow-right {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;
		font-size: 40px;
		width: 40px;
		color: $--primary-light-text;
		cursor: pointer;
		border: none;
		background-color: transparent;
		opacity: 0.5;
		z-index: 1;

		&:active {
			opacity: 1;
		}
	}

	.carousel-arrow-right {
		right: 0;
		left: auto;
	}
}
