@import '../../styles/colors';
@import '../../styles/mixins';

.know-me-container{
  @include size(100%, fit-content);
  @include flexAlignment(column, flex-start, center);
  gap: 1.5rem;
  max-width: 1400px;

  @media (min-width: 950px) {
		grid-column: 1/3;
	}

  h2 {
    align-self: flex-start;
    color: $--primary-light-green;
    font-size: 2rem;

    @media (min-width: 950px) {
      font-size: 2.5rem;
    }
  }

  .know-me-content {
    @include size(100%, fit-content);
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media (min-width: 950px) {
      align-items: center;
      flex-direction: row;
    }

    .knowme-img-wraper {
      max-width: 470px;
      margin: auto;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      @media (min-width: 950px) {
        height: 100%;
        width: 40%;
      }
    }

    p {
      width: 60%;
      color: $--primary-dark-text;
      font-size: 1.375rem;

      @media (min-width: 950px) {
        line-height: 2rem;
        grid-column: 2;
      }
    }
  }
}
