@import '../../styles/colors';
@import '../../styles/mixins';


.intro-container {
  @include size(100vw, 100vh);
  background-color: black;
    .intro-content {
    padding: 2rem 2rem 0 10%;
    @include size(100%, 100%);
    display: grid;
    grid-template-areas: 
      "logo               logo               logo               logo               logo"
      "catch-phrase       catch-phrase       catch-phrase       catch-phrase       catch-phrase"
      "nav-bar            nav-bar            nav-bar            nav-bar            nav-bar"
      ".                  .                 .                  .                  ."
      "social-media-icons .                 .                  .                  .";
    grid-template-columns: 10% repeat(5, 1fr); 
    grid-template-rows: 20% repeat(3, 1fr) 58px;
    .logo-container {
      grid-area: logo;
      z-index: 2;
    };
    .catch-phrase-container {
      grid-area: catch-phrase;
      z-index: 2;
    };
    .nav-bar-container {
      grid-area: nav-bar;
      z-index: 2;
    };
    .social-media-icons-container {
      grid-area: social-media-icons;
      z-index: 2;
      animation: fadeInText 7s ease-in-out;
    };

  }
}


@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

