@import '../../styles/colors';
@import '../../styles/mixins';

.intro-container{
  @include size(100vw, 100vh);
  padding-left: 2rem;
  background-color: black;
  .intro-content-container {
    @include flexAlignment(column, flex-start, flex-start);
    gap: 6rem;
    flex-grow: 1;
  }

}